/*nama file - class : ft-usr-attendance-container*/

@media(max-width:670px){

     #ft-usr-main1{
        flex-direction: column;
        overflow-x: hidden;
    }
}



@media(max-width:670px){
    /* .minicontainer1 img{

        margin:0 8vmin !important;
   
    
     } */

    .ft-usr-divcontainer1{
        width: 100%!important;
    }

    .ft-usr-divcontainer2{
        width: 100%!important;
    }
}


/*First Page*/

 #ft-usr-main1 {
    display: flex;
    background-color: antiquewhite;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
 }

 .ft-usr-divcontainer1{
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 249, 255);
    min-width: 50vw;
    width: fit-content;
    height: 100vh;
 }

 .ft-usr-divcontainer2{
 
    display: flex;
    float: right;
    flex-direction: column;
    background-color: rgb(230, 249, 255);

    min-width: 50vw;
    width: fit-content;
    height: 100vh;
 }


 .ft-usr-minicontainer1{
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 60%;
    height:35%;
    border-radius: 10px;
    box-shadow: #10346d78 0px 3px 10px;
 }



 .ft-usr-minicontainer1 img{
    width: auto;
    height:100%;
    max-width: 100%;
    margin: 0 10% ;

  
 }

 .ft-usr-minicontainer2 img{
    width: auto;
    max-width: 100%;
    height:80%;
    margin: 15%;
    margin-left: 1%;
 }
 .ft-usr-minicontainer2{
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 60%;
    height:80%;
    border-radius: 10px;
    box-shadow: #10346d78 0px 3px 10px  ;

 }

 @media(max-width:670px){
    .ft-usr-minicontainer1{
        background-color: rgb(255, 255, 255);
        margin: auto;
        width: 50%;
        height:200px;
        border-radius: 10px;
        box-shadow: #10346d78 0px 3px 10px;
   
     }

     .ft-usr-minicontainer2{
        background-color: rgb(255, 255, 255);
        margin: auto;
        width: 50%;
        max-height:500px;
        height: 300px;
        border-radius: 10px;
        box-shadow: #10346d78 0px 3px 10px  ;
     }
 }